Fandango.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Theater">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="heading"/>
        <xs:element name="Theater_Name" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="Movies">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Movie_Name" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="Movie_Time1"/>
                          <xs:element type="xs:string" name="Movie_Time2" minOccurs="0"/>
                          <xs:element type="xs:string" name="Movie_Time3" minOccurs="0"/>
                          <xs:element type="xs:string" name="Movie_Time4" minOccurs="0"/>
                          <xs:element type="xs:string" name="Movie_Time5" minOccurs="0"/>
                          <xs:element type="xs:string" name="Movie_Time6" minOccurs="0"/>
                          <xs:element type="xs:string" name="Movie_Time7" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>